<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จัดการข้อมูลสนาม</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    {% include 'navbar.html' %}  <!-- Navbar อยู่ด้านบน -->
    
    <div class="container mx-auto mt-8 px-4">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-800 py-6">จัดการข้อมูลสนาม</h1>
        
        <a href="{% url 'add_court' %}" class="bg-green-500 text-white px-4 py-2 rounded mb-4 inline-block hover:bg-green-600 transition duration-200">เพิ่มข้อมูลสนาม</a>

        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead>
                <tr class="bg-gray-200 text-gray-700">
                    <th class="py-3 px-4 text-left">ชื่อสนาม</th>
                    <th class="py-3 px-4 text-left">สถานะ</th>
                    <th class="py-3 px-4 text-left">จัดการ</th>
                </tr>
            </thead>
            <tbody>
                {% for court in courts %}
                <tr class="border-b hover:bg-gray-100">
                    <td class="py-2 px-4 text-gray-800">{{ court.court_name }}</td>
                    <td class="py-2 px-4 text-gray-800">{{ court.get_status_display }}</td>
                    <td class="py-2 px-4">
                        <a href="{% url 'edit_court' court.id %}" class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600 transition duration-200">แก้ไข</a>
                        <a href="{% url 'delete_court' court.id %}" class="bg-red-500 text-white px-2 py-1 rounded">ลบ</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if courts|length == 0 %}
        <div class="mt-4 text-center text-gray-500">ไม่มีข้อมูลสนามที่จะแสดง</div>
        {% endif %}
    </div>
</body>
</html>
